img{
    max-width:100%;
    display: block;
    margin: 0 auto;
}

#bannerHome{
    top: 0px;
    left: 0px;
    right: 0px;
}

.textCenter{
    text-align: center;
}

.bgMano{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
.textRight{
    text-align: right;
}
.colorGreen{
    color: #24614f;
}

.m0{
    margin: 0px;
}

.p0{
    padding: 0px;
}

.m20{
    margin: 20px;
}

/*Buttons*/
.btn{
    max-width: 80%;
    margin: 0 auto
}

/* Menu */
.logoMenu{
    width: 60px;
    margin-top: 10px;
    margin-bottom: 30px;
}