.ui-content{
    padding-top: 60px !important;
    padding-bottom: 80px !important;
}

#bannerHome{
    top: 0px;
    left: 0px;
    right: 0px;
}

.logoHeader{
    width: 160px;
    padding: 3px;
}

img{
    max-width:100%;
    display: block;
    margin: 0 auto;
}

.textCenter{
    text-align: center;
}

.bgMano{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
.textRight{
    text-align: right;
}
.colorGreen{
    color: #24614f;
}

.m0{
    margin: 0px;
}

.p0{
    padding: 0px;
}

.m20{
    margin: 20px;
}
.m10{
    margin: 10px;
}

.ui-collapsible-set .ui-collapsible:not(.ui-collapsible-inset) .ui-collapsible-heading .ui-btn{
    background-color: white;
}
.ui-collapsible-content{
    margin-left: 15px;
}

.baristaBg{
    border: 1px solid rgba(198, 198, 198, 0.667);
}

.dialogTitle{
    margin-top: -25px;
}
/* Tab menu */
.fixedHeader, .fixedFooter{
    width: 100%;
    position: fixed; 
}
.fixedHeader{
    top: 0;
    background-color: white !important;
    border: 0;
    box-shadow: 3px 3px 10px #aaa;
}
.fixedFooter{
    bottom: 0;
}
.fixedFooter a{
    color: black !important;

}

/*Buttons*/
.btn{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.btnTiendasText{
    font-size: 18px;
    text-align: left;
    margin-left: 0px;
}

.btnImg{
    width: 55%;
}

.btnRedes{
    height: 60px !important;
    width: 60px !important;
   
}
.ui-grid-b li{
    display: flex;
    justify-content: center;
    align-content: center;
}
/* Icons */
.ui-nodisc-icon{
    border: 0 solid transparent !important;
    background-color: #39846e !important;
    box-shadow: none !important;
    margin: 2px;
}
.iconBgTiendas{
    border: 0 solid transparent !important;
    box-shadow: none !important;
}
.ui-icon-arrowDown:after {
    background-image: url(../imagenes/baseline_expand_more_black_24dp.png);
    background-size: 32px 32px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    margin:-20px 0px;
}
.ui-icon-arrowUp:after {
    background-image: url(../imagenes/baseline_expand_less_black_24dp.png);
    background-size: 32px 32px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    margin:-20px 0px;
}
.ui-icon-menu:after{
    background-image: url(../imagenes/baseline_menu_white_24dp.png);
    background-size: 32px 32px;
    width: 40px;
    height: 40px;
    margin:-20px;
}
.ui-icon-cerrar:after {
    background-image: url(../imagenes/baseline_cancel_black_24dp.png);
    background-size: 32px 32px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    margin:-20px;
}
.ui-icon-navegar:after {
    background-image: url(../imagenes/baseline_arrow_back_ios_white_24dp.png);
    background-size: 32px 32px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin: -15px -7px;
}

.ui-icon-home:after {
    background-image: url(../imagenes/baseline_home_black_24dp.png);
    background-size: 29px 29px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin-left: -15px;
    margin-top: -3px;
}

.ui-icon-tiendas:after {
    background-image: url(../imagenes/baseline_store_black_24dp.png);
    background-size: 29px 29px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin-left: -15px;
    margin-top: -3px;
}

.ui-icon-nosotros:after {
    background-image: url(../imagenes/baseline_apartment_black_24dp.png);
    background-size: 29px 29px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin-left: -15px;
    margin-top: -3px;
}

.ui-icon-enCasa:after {
    background-image: url(../imagenes/baseline_local_cafe_black_24dp.png);
    background-size: 27px 27px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin-left: -15px;
    margin-top: -3px;
}

.ui-icon-sumate:after {
    background-image: url(../imagenes/baseline_group_add_black_24dp.png);
    background-size: 29px 29px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin-left: -17px;
    margin-top: -3px;
}

.ui-icon-instagram:after {
    background-image: url(../imagenes/logo-instagram.png);
    background-size: 29px 29px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    margin: -17px;
}

.ui-icon-facebook:after {
    background-image: url(../imagenes/logo-facebook.png);
    background-size: 29px 29px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin: -14px;
}

.ui-icon-twitter:after {
    background-image: url(../imagenes/logo-twitter.png);
    background-size: 29px 29px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin: -14px;
}


/* Cards */

.card{
    background:#fff;
    overflow:hidden;
    box-shadow: 3px 3px 10px #aaa;
    padding: 20px;
}

.cardTitle{
    font-size: 22px;
    font-weight: 900;
}

.cardImg{
    width: 50%;
}